# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
    - List popular languages for Data Science
    - List commonly used libraries by Data Scientists
    - List some open source data science tools
    - Give a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Scala
5. Java
6. C++
7. Julia 
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn 
6. SciPy
7. TensorFlow
8. Apache Spark
9. Keras
10. ggplot2

In [ ]:
| Data Science Tools   |
|----------------------|
| Jupyter Notebooks    |
| RStudio              |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
minutes = 200
hours = minutes / 60
hours
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Zahra Ghane